<!DOCTYPE html>
<html>
<head>
  <title>Gruntrails</title>
  <%
  # !!!! DEMO ONLY !!!!
  # this would normally be saved in config somewhere for rails, it is set here to demonstrate the requirements.
  # how this variable is set will vary between frameworks. development should get .dev, test and production get .prod
  envformat = Rails.env == "development" ? "dev" : "prod"
  %>
  <%= render :file => "shared/images/icons", :formats => [:html] %>
  <%#
    for css, we generate only the file path so we can specify features such as media rules inline
  %>
  <link href="<%= render :file => 'shared/stylesheets/main', :formats => [:"#{envformat}"] %>" rel="stylesheet" />
  <link href="<%= render :file => 'shared/stylesheets/print', :formats => [:"#{envformat}"] %>" rel="stylesheet" media="print" />
  <%= render :file => 'shared/javascripts/special', :formats => [:"#{envformat}"] %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Demo</h1>
  <h2>Rails env</h2>
  <p><%= Rails.env %></p>
  <h2>File extension</h2>
  <p><%= envformat %></p>
  <%= yield %>
  <h2>Check image gets updated</h2>
  <img src="/images/rails.png" alt="rails" />
  <h2>Script block</h2>
  <%
    jsfoo = render :file => 'shared/javascripts/main', :formats => [:"#{envformat}"] 
    cssfoo = render :file => 'shared/stylesheets/main', :formats => [:"#{envformat}"]
    iconsfoo = render :file => "shared/images/icons", :formats => [:html]
  %>
  <%= jsfoo.to_str %>
  <h2>CSS output</h2>
  <%= cssfoo.to_str %>
  <h2>Icons</h2>
  <%= iconsfoo.to_str %>
<%#
  for JS, we alternate between many files in dev and 1 minified, concatenated file in test/prod.  The entire html block is generated.
%>
<%= render :file => 'shared/javascripts/main', :formats => [:"#{envformat}"] %>
</body>
</html>
